#bg-color {
    background-color:rgb(214, 214, 214);
}

#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}
  
.banner {
    color: rgb(112, 87, 3);
    font-size: 90px;
    font-family: sans-serif;
}
